@model sample.Models.Asset_Maintenance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <a href="#" class="btn btn-primary" onclick="printAsset()">Print</a>

    @section scripts {
        <script>
            function printAsset() {
                window.open("@Url.Action("Print", new { id = Model.Id })", "_blank");
            }
        </script>
    }
    <h4>Asset Maintenance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssetId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssetId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Technician)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Technician)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

