@model IEnumerable<sample.Models.DTO.UserListDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>User List</h1>

<p>
    <a asp-action="Create" class="accordion-button-btn-dark btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(column => column.Name).ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(column => column.Username).ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(column => column.Email).ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(column => column.Roles).ToUpper()
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>

                <td>
                    <a asp-action="Delete" class="btn btn-danger mr-2 mt-2 " asp-route-id="@item.Id">Delete</a>
                    <a asp-action="Details" class="btn btn-success mr-2 mt-2" asp-route-id="@item.Id">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
