@model sample.Models.ReportViewModel;

<h1>Report</h1>

<form asp-action="Index" class="d-flex justify-content-lg-between mb-2 align-items-center">
   <div class="d-flex gap-2 align-items-center ">
     <div class="form-group">
        <label asp-for="FromDate">From Date</label>
        <input type="date" class="form-control" asp-for="FromDate" required />
    </div>
    <div class="form-group">
        <label asp-for="ToDate">To Date</label>
        <input type="date" asp-for="ToDate" class="form-control" required />
    </div>
    <div><input type="submit" value="Generate Report" class="btn btn-primary mt-3" /></div>
   </div>
   <div></div>
    

</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Asset Name</th>
            <th>Category</th>
            <th>Location</th>
            <th>Status</th>
            <th>Purchase Date</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var asset in ViewBag.Assets)
        {
            <tr>
                <td>@asset.Name</td>
                <td>@asset.Category</td>
                <td>@asset.Location</td>
                <td>@asset.status</td>
                <td>@asset.PurchaseDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }



    </tbody>
</table>